{% extends 'layout.html' %}

{% block head %}
<title>Update your Subjects</title>
<style>
    h1 {
        text-align: center;
    }
    .form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    form {
        border: 2px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    hr {
        color: black;
        border: 1px black solid;
        margin: 0 10 0 10
    }
    .form-item {
        margin: 15px 15px 15px 15px;
    }
    .class {
        display: flex;
        justify-content: center;
        padding: 10px;
        }
</style>
{% endblock %}

{% block body %}
<h1>Add a new Subject</h1>
<div class="form-container">
    <form action="/addSubject" method="POST">
        <input type="text" placeholder="Subject Name" name="subject_name" class="form-item" required>
        <label for="subject_color">Choose a color:</label>
        <input type="color" class="form-item" name="subject_color">
        <input type="submit" value="Create Subject" name="add">
    </form>
    <div class="result">
    <p>{{ message }}</p>
</div>
</div>
{% endblock %}