{% extends 'layout.html' %}

{% block head %}
<title>Delete</title>
<style>
    h1 {
        text-align: center;
    }
    .form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    form {
        border: 2px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

    .form-item {
        margin: 15px 15px 15px 15px;
    }
    .class {
        display: flex;
        justify-content: center;
        padding: 10px;
        }
</style>
{% endblock %}

{% block body %}

<h1>Delete a Subject</h1>
<div class="form-container">
    <form action="/deleteSubject" method="POST" name="delete">
        <select class="form-item" name="subject">
            <option selected disabled>Subjects</option>
            {% for subject in subjects %}
            <option value="{{ subject.subject }}">{{ subject.subject }}</option>
            {% endfor %}
        </select>
        <input type="submit", value="Delete Subject" class="form-item" name="delete">
    </form>
</div>
<script>

</script>
{% endblock %}