{% extends 'layout.html' %}

{% block head %}
<title>Register</title>
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="form-container">
    <form action="/register" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email Address:</label>
        <input type="email" class="form-control" id="registerEmail" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input type="password" class="form-control" id="registerPassword1" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Re-Enter Password:</label>
        <input type="password" class="form-control" id="registerPassword2" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}