{% extends 'layout.html' %}

{% block head %}

<title>Todo Site</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top-header {
        text-align: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left:auto;
        margin-right: auto;
        flex-wrap: wrap;
        width: 1000px;
        border: 2px black solid;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%)
    }

    label, input, select {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .select-container {
        display: flex;
        justify-content: space-around;
    }
    .table-container {
        margin-top: 40px;
    }
    #description {
        width: 500px;
    }
    
</style>

{% endblock%}


{% block body %} 
<h1 class="top-header">Update Task</h1>

<div class="form-container">
    <form action="/updateTask/{{ task.id }}", method="POST">
        <label for="description">Task:</label>
        <input type="text" id="description" placeholder="Description" name="description" required value="{{ task.description }}">
        <br>
        <label for="deadline">Deadline for task:</label>
        <input type="date" id="deadline" name="deadline" required value="{{ task.deadline }}">
        <br>
        <select id="subject" name="subject" required value="{{ task.subject }}">
            <option selected disabled>Choose Subject</option>
            {% for subject in subjects %}
            <option {% if subject.subject == task.subject %}selected{% endif %} name="{{ subject.subject }}">{{ subject.subject }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Update Task">
    </form>
</div>
{% endblock %}